@using rupbes.Models.Products
@model List<GroupProduct>
@{
    ViewBag.Title = "Группы товаров ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row g-4">
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            <div class="card-header">
                <div class="card-title">Группы товаров</div>
            </div>
            <div class="card-body">
                @if (Model.Count > 0)
                {

                    foreach (var item in Model)
                    {
                        <button type="button" onclick="ShowGroupProduct(@item.id)" class="btn btn-outline-primary">
                            @item.name
                        </button>
                    }
                }
                else
                {
                    <div class="alert alert-info" role="alert">
                        Пока нет добавили группы товаров.
                    </div>
                }
                <hr>
                <button class="btn btn-success" onclick="ShowAddGroupProduct()">Добавить группу товаров</button>
            </div>
        </div>
    </div>
    <div id="groupProductDisplay" class="col-md-6" style="display:none">
        <!--область для карточки имущества-->
    </div>
</div>
@section scripts{
    <script>
        function ShowGroupProduct(id) {
            $.ajax({
                type: "get",
                url: '@Url.Action("ShowGroupProduct", "Admin")',
                data: { id: id },
                success: function (data) {
                    $('#groupProductDisplay').html(data);
                    $('#groupProductDisplay').show();
                },
                error: function (xhr, status, error) {
                    var toastDanger = new bootstrap.Toast(document.getElementById('toastDanger'));
                    $('#toast-body-danger').html("Произошла ошибка при получении группы товаров.");
                    toastDanger.show();
                    console.error("Ошибка при выполнении AJAX-запроса:", error);
                }
            });
        }

        function ShowAddGroupProduct(id) {
            $.ajax({
                type: "get",
                url: '@Url.Action("ShowAddGroupProduct", "Admin")',
                data: { id: id },
                success: function (data) {
                    $('#groupProductDisplay').html(data);
                    $('#groupProductDisplay').show();
                },
                error: function (xhr, status, error) {
                    var toastDanger = new bootstrap.Toast(document.getElementById('toastDanger'));
                    $('#toast-body-danger').html("Произошла ошибка при отображении страницы для добавления группы товаров.");
                    toastDanger.show();
                    console.error("Ошибка при выполнении AJAX-запроса:", error);
                }
            });
        }
    </script>
}