<meta charset="utf-8" />
<meta name="viporewt" content="width=device-width, initial-scale=1" />
<meta name="MobileOptimized" content="width" />
<meta name='HandheldFriendly' content="true" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="robots" content="all" />
<meta name="description" content="РЕСПУБЛИКАНСКОЕ УНИТАРНОЕ ПРЕДПРИЯТИЕ БЕЛЭНЕРГОСТРОЙ' - УПРАВЛЯЮЩАЯ КОМПАНИЯ ХОЛДИНГА', ГОСУДАРСТВЕННОЕ ПРЕДПРИЯТИЕ 'БЕЛЭНЕРГОСТРОЙ'- УПРАВЛЯЮЩАЯ КОМПАНИЯ ХОЛДИНГА', 'БЕЛЭНЕРГОСТРОЙ' ХОЛДИНГ." />
<meta name="Keywords" content="БЕЛЭНЕРГОСТРОЙ, Холдинг, Аренда, работа, строительство, раствор, фундамент" />
<meta name="Author" content="ГОСУДАРСТВЕННОЕ ПРЕДПРИЯТИЕ 'БЕЛЭНЕРГОСТРОЙ'- УПРАВЛЯЮЩАЯ КОМПАНИЯ ХОЛДИНГА'" />
<meta name="Copyright" content="ГОСУДАРСТВЕННОЕ ПРЕДПРИЯТИЕ 'БЕЛЭНЕРГОСТРОЙ'- УПРАВЛЯЮЩАЯ КОМПАНИЯ ХОЛДИНГА'" />
<meta name="Address" content="г. Минск, ул. Чичерина, 19, 220029" />

<link rel="canonical" href="https://rupbes.by/" />
<link href="~/Content/favicon.ico" rel="shortcut icon" runat="server" type="image/x-icon">
<link href="~/Content/favicon.ico" rel="icon" runat="server" type="image/ico">

<title>'БЕЛЭНЕРГОСТРОЙ' ХОЛДИНГ</title>

<link href="~/Scripts/respond.js" type="text/javascript" />

@if (Request.Cookies["theme"] != null && Request.Cookies["theme"].Value == "poorEyesight")
{
    <link href="~/Content/Styles/pemain.css" rel="stylesheet" />
}
else
{
    <link href="~/Content/Styles/main.css" rel="stylesheet" />
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css" rel="stylesheet" />