@using rupbes.Models.Products
@model List<Property>

<style>
    .window-label:last-of-type {
        margin-bottom: 10px;
    }
    .product-info-grid .window-label > input {
        width: 100%;
    }
</style>

@{
    var uniqueId = "Property" + ViewBag.iterator; // Генерируем уникальный ID
}
<div class="flex">
    <div class="product-info-grid">
        <div class="window-label">
            <select required id="@uniqueId" name="properties[@ViewBag.iterator].name" style="width:100%;">
                @foreach (var propertyName in Model)
                {
                    <option>@propertyName.name</option>
                }
            </select>
        </div>

        <div class="window-label">
            <input required class="text-box single-line" placeholder="Значение"
                   name="properties[@ViewBag.iterator].value" />
        </div>
    </div>
    <span class="delete-icon">❌</span>
</div>

<script>   
    // Переменная, содержащая часть id
    var itemNumber = '@ViewBag.iterator';

    // Формируем полный id, используя конкатенацию строк
    var fullId = "#Property" + itemNumber;
    var parent = $(fullId).parent().parent().parent();
    var spanElement = parent.find('span');  
    $(fullId).select2({
            placeholder: 'Характеристика',
            tags: true
    });    

    spanElement.click(function () {
        this.parentElement.remove();
        updateItemIds()
    });  
</script>