@using rupbes.Models.ViewModels
@using rupbes.Models.Products

@{
    ViewBag.Title = "Добавить группу товаров";
}


<section class="form-block">
    <h2>Добавить подгруппу товаров</h2>

    <form action="/Admin/CreateSubGroup" method="post">

        <div class="window-label">
            <input style="display:none;" class="text-box single-line" readonly
                   value="@ViewBag.GroupId" name="GroupProductId" />
        </div>
        <div class="window-label">
            <input class="text-box single-line" readonly
                   value="@ViewBag.GroupName" />
        </div>
        <div class="window-label">
            <input class="text-box single-line" placeholder="Название"
                   name="name" />
        </div>
        <div class="window-label">
            <input type="submit" value="Добавить" />
        </div>
    </form>
</section>