@using rupbes.Models.ViewModels
@using rupbes.Models.Products
@model VersionProductViewModel

@{
    ViewBag.Title = "Добавить Версию товара";
}

<style>
    .form-block {
        min-width: 60vw;
        max-width: 90vw;
        width: auto;
    }

    .product-info-grid, .product-info-grid-v2 {
        flex: 1 1 200px; /* Элементы будут занимать равное пространство */
        min-width: 200px; /* Устанавливает минимальную ширину */
    }

    .admin-imgs {
        max-width: 100%;
    }

    .select2-container {
        max-width: 85vw !important;
    }   
</style>

<section class="form-block">
    <h2>Добавить версию товар</h2>
    <div class="AddProductWindow">
        <form action="/Admin/CreateVersionProduct" method="post">
            <input name="productId" value="@Model.ProductId" readonly style="display: none" />
            <input name="isSale" value="true" readonly style="display: none" />
            <div class="window-label">
                <input required class="text-box single-line" placeholder="Название"
                       value="@Model.name" name="name" />
            </div>
            <div class="window-label">
                <input class="text-box single-line" placeholder="Примечание"
                       name="note" />
            </div>
            <div class="section-property">
                <div id="prop">
                    <button id="addPropertyBtn" onclick="AddPropertySelectGroup()" type="button" class="button">Добавить характеристику</button>
                </div>
            </div>


            <div class="window-label">
                <label>
                    Прикрепить фото версии товара
                </label>
            </div>
            <div class="admin-upfile">
                <input class="upload-img" type="file" name="upload" id="uploadFile">
                <button id="clickbutton" class="upfile-btn">Загрузить файл</button>
            </div>
            <div class="admin-imgs">
            </div>

            <div class="window-label">
                <button type="submit" class="button button-color-back-forestgreen button-color-white text-big">Добавить</button>
            </div>
        </form>
    </div>
</section>
<script>
    var count = 0;
    $('#clickbutton').on('click', function (event) {
         event.preventDefault();
         var files = document.getElementById('uploadFile').files;
         if (files.length > 0) {
             if (window.FormData !== undefined) {
                 var data = new FormData();
                 for (var i = 0; i < files.length; i++) {
                     data.append("file" + i, files[i]);
                 }

                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("UploadAjax","Admin")',
                     contentType: false,
                     processData: false,
                     data: data,
                     success: function (result) {
                         $('.admin-imgs').replaceWith(result);
                     },
                     error: function (xhr, status, p3) {
                         alert(xhr.responseText);
                     }
                 });
             } else {
                 alert("Ваш браузер не поддерживает Html5!");
             }
         }
     });
    function AddPropertySelectGroup() {
        var button = document.getElementById('addPropertyBtn');
        $.ajax({
            type: "get",
            url: '@Url.Action("AddPropertySelectGroup", "Admin")',
            data: { count: count },
            success: function (data) {
                $('#prop').before(data);
                count = count + 1;
            }
        })
        button.disabled = true;
        // Разблокируем кнопку через 2 секунды
        setTimeout(() => {
            button.disabled = false;
        }, 3000);
    }

    var deleteIcons = document.querySelectorAll('.delete-icon');

    // Добавляем обработчик события для каждой иконки
    deleteIcons.forEach(icon => {
        icon.addEventListener('click', function () {
            // Удаляем родительский элемент (весь блок)
            this.parentElement.remove();
            updateItemIds()
        });
    });

    function updateItemIds() {
        var index = 0;
        // Перебираем все элементы списка
        $('[id^="Property"]').each(function (index) {
            console.log("Edit");
            var parent = $(this).parent().parent();
            var inputElement = parent.find('input');
            // Обновляем ID каждого элемента
            $(this).attr('id', 'Property' + (index));
            $(this).attr('name', 'properties[' + (index) + '].name');
            inputElement.attr('name', 'properties[' + (index) + '].value');
            console.log($(this));
            console.log(inputElement);
            index = index + 1;
        });
    }
</script>