@using rupbes.Models.ViewModels
@using rupbes.Models.Products
@model VersionProductViewModel

@{
    ViewBag.Title = "Добавить Версию товара";
}


<section class="form-block">
    <h2>Добавить версию товар</h2>
    <div class="AddProductWindow">
        <form action="/Admin/CreateVersionProduct" method="post">
            <input name="productId" value="@Model.ProductId" readonly style="display: none" />
            <input name="isSale" value="true" readonly style="display: none" />
            <div class="window-label">
                <input class="text-box single-line" placeholder="Название"
                       value="@Model.name" name="name" />
            </div>
            <div class="window-label">
                <input class="text-box single-line" placeholder="Примечание"
                       name="note" />
            </div>
            <div class="section-property">
                <div id="prop">
                    <button onclick="AddPropertySelectGroup()" type="button" class="button">Добавить характеристику</button>
                </div>
            </div>
          

            <div class="window-label">
                <label>
                    Прикрепить картинки для версии
                </label>
            </div>
            <div class="admin-upfile">
                <input class="upload-img" type="file" name="upload" id="uploadFile">
                <button id="clickbutton" class="upfile-btn">Загрузить файл</button>
            </div>

            <div class="window-label">
                <input type="submit" value="Добавить" />
            </div>
            <div class="admin-imgs">
            </div>
        </form>
    </div>
</section>
<script>
    var count = 0;
    $('#clickbutton').on('click', function (event) {
         event.preventDefault();
         var files = document.getElementById('uploadFile').files;
         if (files.length > 0) {
             if (window.FormData !== undefined) {
                 var data = new FormData();
                 for (var i = 0; i < files.length; i++) {
                     data.append("file" + i, files[i]);
                 }

                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("UploadAjax","Admin")',
                     contentType: false,
                     processData: false,
                     data: data,
                     success: function (result) {
                         $('.admin-imgs').replaceWith(result);
                     },
                     error: function (xhr, status, p3) {
                         alert(xhr.responseText);
                     }
                 });
             } else {
                 alert("Ваш браузер не поддерживает Html5!");
             }
         }
     });    
    function AddPropertySelectGroup() {
        $.ajax({
            type: "get",
            url: '@Url.Action("AddPropertySelectGroup", "Admin")',
            data: { count: count },
            success: function (data) {
                $('#prop').before(data);
                count = count + 1;
            }
        })
    }
</script>