@using rupbes.Models.Products
@model List<Property>

<style>
    .window-label:last-of-type {
        margin-bottom: 10px;
    }
</style>

@{
    var uniqueId = "Property" + ViewBag.iterator; // Генерируем уникальный ID
}
<div class="flex">
    <div class="product-info-grid">
        <div class="window-label">
            <select id="@uniqueId" name="properties[@ViewBag.iterator].name" style="width:100%;">
                @foreach (var propertyName in Model)
                {
                    <option>@propertyName.name</option>
                }
            </select>
        </div>

        <div class="window-label">
            <input class="text-box single-line" placeholder="Значение"
                   name="properties[@ViewBag.iterator].value" />
        </div>
    </div>
    <span class="delete-icon">❌</span>
</div>

<script>   
    $('[id^="Property"]').select2({
            placeholder: 'Характеристика',
            tags: true
    });

    var deleteIcons = document.querySelectorAll('.delete-icon');

    // Добавляем обработчик события для каждой иконки
    deleteIcons.forEach(icon => {
        icon.addEventListener('click', function () {
            // Удаляем родительский элемент (весь блок)
            this.parentElement.remove();
        });
    });
</script>