@using rupbes.Models.Products
@model List<SubGroupProduct>
<select id="SubGroupProduct" name="subGroupProduct" style="width: 50%">
    @foreach (var subGroup in Model)
    {
        <option>@subGroup.name</option>
    }
</select>   
<script>
    $('#SubGroupProduct').select2({
        placeholder: 'Подгруппа товара',
        tags: true
    });
</script>