@using rupbes.Models.Products
@model List<SubGroupProduct>
    @{ 
        var str = "";
        if (ViewBag.subGroupName != null)
        {
            str = ViewBag.subGroupName;
        }
    }
<select id="SubGroupProduct" name="subGroupProduct" style="width: 50%">
    @foreach (var subGroup in Model)
    {
        if (str == subGroup.name)
        {
            <option selected>@subGroup.name</option>
        }
        else
        {
            <option>@subGroup.name</option>
        }
    }
</select>   
<script>
    $('#SubGroupProduct').select2({
        placeholder: 'Подгруппа товара',
        tags: true
    });
</script>