<div class="admin-img-min">
    <label>
        <img src="@ViewBag.AddedImage.src_min" />
        <input type="radio" checked name="id_img" value="@ViewBag.AddedImage.id" />
    </label>
</div>
<span id="img-flag"></span>
