
@{
    ViewBag.Title = "Удаление изображений";
}

<h2>Удалить картинки с сервера</h2>
<section class="form-block">
    @using (Html.BeginForm("DeleteImgs", "Admin"))
    {
        <div id="img-form" class="admin-imgs">
            @foreach (rupbes.Models.Imgs img in ViewBag.Imgs)
            {
                <div class="admin-img-min">
                    <label><img src="@img.src_min" /><input type="checkbox" name="ids" value="@img.id" /></label>

                </div>

            }
        </div>
        <div class="window-label" >
            <input type="submit" class="btn btn-default" value="Удалить" onclick="load();" />
        </div>
        
    }
</section>
<p id="loading" style="display:none">Идет загрузка...</p>

@section scripts {
    <script>
        function load() {
            document.getElementById('loading').style.display = 'block';
        }
    </script>
}