
@{
    ViewBag.Title = "Предприятия";
}

<section class="admin-content">
    @Html.ActionLink("Назад", "Index")
    <h2>Предприятия</h2>
    @foreach (rupbes.Models.Departments department in Model)
    {
        <p>@Html.ActionLink(department.name_ru, "Department", "Admin", new { id = department.id }, null)</p>
    }
</section>
