
@{
    ViewBag.Title = "HashGenPage";
}
<section class="admin-content">
    <h2>HashGen</h2>
    @using (Ajax.BeginForm("HashGen", new AjaxOptions { UpdateTargetId = "result" }))
    {
        <div class="window-label">
            <input type="text" name="pass" />
        </div>
        <div id="result"></div>
        <div class="window-label">
            <input type="submit" value="Отправить" />
        </div>
    }
</section>
@Html.ActionLink("Назад", "Index")
