@{
    ViewBag.Title = "Управление сайтом";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="admin-content">
    @if (User.IsInRole("admin"))
    {
        <div class="alert alert-info" role="alert">
            Есть доступ ко всем разделам
        </div>
    }

    else if (User.IsInRole("news"))
    {
        <div class="alert alert-info" role="alert">
            Есть доступ к следующим разделам:<br />
            Новости
        </div>
        @Html.ActionLink("Новости", "News", "Admin")
    }

    else if (User.IsInRole("ok_master") || User.IsInRole("ok"))
    {
        <div class="alert alert-info" role="alert">
            Есть доступ к следующим разделам:<br />
            Вакансии<br />
            Руководство
        </div>
    }

    else if (User.IsInRole("obj"))
    {
        <div class="alert alert-info" role="alert">
            Есть доступ к следующим разделам:<br />
            Объекты
        </div>
    }

    else if (User.IsInRole("realty_master") || User.IsInRole("realty"))
    {
        <div class="alert alert-info" role="alert">
            Есть доступ к следующим разделам:<br />
            Аренда<br />
            Продажа имущества
        </div>
    }

    else if (User.IsInRole("mech_master") || User.IsInRole("mech"))
    {
        <div class="alert alert-info" role="alert">
            Есть доступ к следующим разделам:<br />
            Техника
        </div>
    }

    else if (User.IsInRole("service_master") || User.IsInRole("service"))
    {
        <div class="alert alert-info" role="alert">
            Есть доступ к следующим разделам:<br />
            Услуги
        </div>
    }

    @if (User.IsInRole("product"))
    {
        <div class="alert alert-info" role="alert">
            Есть доступ к следующим разделам:<br />
            Продукция собственного производства
        </div>
    }
</section>
