
@{
    ViewBag.Title = "Услгуи";
}


<section class="admin-content">
    @Html.ActionLink("Назад", "Index")
    <h2>Услуги филиалов</h2>
    @foreach (rupbes.Models.Departments department in Model)
    {
        <p>@Html.ActionLink(department.name_ru, "DepServices", "Admin", new { id = department.id }, null)</p>
    }
</section>

