@using rupbes.Models
@model List<Departments>
@{
    ViewBag.Title = "Вакансии";
}
<section class="admin-content">
    <h2>Все вакансии по филиалам:</h2>

    <a href="AddVacancy" class="button button-color-back-forestgreen button-color-white text-big">Добавить новую вакансию</a>
    <div class="admin-content-div">
        @foreach (var department in Model)
        {
            @Html.ActionLink(department.name_ru, "DepVacancy", "Admin", new { id = department.id }, null)
        }
    </div>
    <div class="button button-color-back-red">
        @Html.ActionLink("В меню", "Index")
    </div>
</section>
