@using rupbes.Models.Products
@model List<SubGroupProduct>
<select id="selSubGroupProduct" class="select dir-select">
    <option>@Resources.Resource.SelectGroupProduct</option>
    @foreach (SubGroupProduct subgroup in Model)
    {
        <option value="@subgroup.id">@subgroup.name</option>
    }
</select>

<script>
    var selGroupProduct = $("#selSubGroupProduct");
    $('#selSubGroupProduct').select2({
        placeholder: 'Выберите подгруппу товаров'
    });
    selGroupProduct.bind("change", function () {
        $.ajax({
            type: "get",
            url: '@Url.Action("SelectSubGroupProduct", "Service")',
            data: { 'id': this.value },
            success: function (data) {
                searchResult.html(data);
            }
        })
    });

</script>