@model List<rupbes.Models.Services>

@{
    ViewBag.Title = Resources.Resource.ServiceService;
}

<h2 class="headline">@Resources.Resource.ServiceService</h2>
<section class="content">
    @foreach (rupbes.Models.Services service in Model)
    {
        <p class="service-link" id="@service.id">@service.title</p>
        <div class="service-flag" id="flag_@service.id"></div>
    }
</section>


@section scripts {
    <script type="text/javascript">
        $(".service-link").bind("click", function () {
            var flag = '#flag_' + this.id;
            if ($(flag).contents().length > 0) {
                $(flag).fadeToggle(300);
            }
            else {
                $.ajax({
                type: 'post',
                url: '@Url.Action("GetService")',
                data: { 'id': this.id },
                success: function (data) {
                    $(flag).html(data);
                    initMass();
                    pageStart();
                }
            })
            }


        })
    </script>
}
