@using rupbes.Models
@model List<Departments>
@{
    ViewBag.Title = "Подразделения (Аренда)";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<p class="h4 text-center">Подразделения</p>
<br />
<div class="d-grid gap-2 col-4 mx-auto">
    @foreach (var department in Model)
    {
        <a href="@Url.Action("RealtyByDepartment", "Admin",  new { id = department.id })" class="btn btn-primary">@department.short_name_ru</a>
    }
</div>