
@{
    ViewBag.Title = Resources.Resource.Career;
}

<h2 class="headline">@Resources.Resource.Career</h2>
<section class="content">
    <p><b>Рэспубліканскае ўнітарнае прадпрыемства «БЕЛЭНЕРГАБУД» - кіруючая кампанія холдынгу</b> — сучасная кампанія, якая дынамічна развіваецца. Мы выконваем ўсе віды будаўніча-мантажных работ. Нам давяраюць, і для нас гэта вельмі важна. РУП «Белэнергабуд» - кіруючая кампанія холдынгу рэкамендуюць сваім партнёрам, а таму мы зацікаўлены ў тым, каб у нас працавалі ініцыятыўныя, мэтанакіраваныя, энергічныя, творчыя людзі, якія ўмеюць ісці да пастаўленай мэты у камандзе, якія не баяцца браць на сябе адказнасць, якія заўсёды гатовыя вучыцца новаму. Калі вы кіроўца аўтамабіля 5-6 разраду, слесар, машыніст крана ДЭК, тынкоўшчык 3-5 разраду, мантажнік будаўнічых канструкцый 4-6 разраду, бетоншчык 4 разраду (усе вакансіі вы знойдзеце ў спецыяльным  <a href="@Url.Action("Vacancies","Home")">раздзеле</a>), то прыходзьце да нас! Наш калектыў – гэта каманда прафесіяналаў, гэта наша самая галоўная каштоўнасць. Мы выконваем работы любой складанасці, напрыклад, паспяхова рэалізуем праекты «пад ключ». Мы цэнім кожнага нашага супрацоўніка, таму ў працы прад'яўляем вельмі высокія патрабаванні ў сацыяльных і кадравых пытаннях.</p>
    <a href="@Url.Action("Vacancies","Home")" class="job-inv">
        
    </a>
    <p>
        РУП «Белэнергабуд» - кіруючая кампанія холдынгу для раскрыцця здольнасцяў  кожнага спецыяліста мае вельмі шмат магчымасцяў. Свае навыкі і прафесійны вопыт нашы супрацоўнікі ўжываюць ва ўсіх сферах дзейнасці прадпрыемства не толькі ў Рэспубліцы Беларусь, але і за мяжой. Напрыклад, нашы спецыялісты атрымалі унікальныя вопыт і веды пры будаўніцтве Беларускай АЭС у Астраўцы. Мы будзем вельмі рады прыняць у сваю каманду ўсіх тых, хто разам з намі будзе далей рэалізоўваць нашы самыя смелыя планы.
    </p>
    <p>
        Калі раптам Вы не знайшлі цікавую для Вас вакансію, Вы таксама можаце адправіць сваё рэзюмэ на нашу электронную пошту - <a href="mailto:@Model.email">@Model.email</a> - з указаннем вакансіі, на якую прэтэндуеце. Мы абавязкова разгледзім Вашу анкету!
    </p>
</section>

