
@{
    ViewBag.Title = Resources.Resource.Career;
}

<h2 class="headline">@Resources.Resource.Career</h2>
<section class="content">
    <p><b>Republican unitary enterprise “Belenergostroy”-holding management company”</b> — is a modern dynamically developing company. We execute all types of construction and installation works. We are trusted and it’s very important to us. Republican unitary enterprise “Belenergostroy”-holding management company” is recommended to the partners, so we are interested in initiative, purposeful, energetic, creative workers, who know how to go towards a set goal in a team, who are not afraid to take responsibility, who are always ready to learn new things. If you are a driver of a 5-6 grade, a locksmith, a DEK crane operator, a 3-5 grade plasterer, an installer of building structures of a 4-6 grade, a concrete worker from grade 4 (you can find all vacancies in a special <a href="@Url.Action("Vacancies","Home")">section</a>), come to us! Our team are professionals, this is our most important value. We execute work of any complexity, for example, we successfully implement turnkey projects. We value each of our employees, therefore, we have very high demands on social and personnel issues in our work.</p>
    <a href="@Url.Action("Vacancies","Home")" class="job-inv">
        
    </a>
    <p>
        Republican unitary enterprise "Belenergostroy"- holding management company” gives a lot of opportunities to reveal the abilities of each specialist. Our employees apply their skills and professional experience in all areas of the enterprise, not only in the Republic of Belarus, but also abroad. For example, our specialists gained unique experience and knowledge during the construction of the Belarusian nuclear power plant in Ostrovets. We will be very happy to accept into our team all those people, who will further implement our most daring plans together with us.
    </p>
    <p>
        If you didn’t find a vacancy you are interested in, you can send your CV to our E-mail - <a href="mailto:@Model.email">@Model.email</a> - with the reference to the vacancy you claim for. We will definitely consider your CV!
    </p>
</section>

