
@{
    ViewBag.Title = Resources.Resource.Career;
}

<h2 class="headline">@Resources.Resource.Career</h2>
<section class="content">
    <p><b>Республиканское унитарное предприятие «БЕЛЭНЕРГОСТРОЙ» - управляющая компания холдинга</b> — современная динамично развивающаяся компания. Мы выполняем все виды строительно-монтажных работ, и нам доверяют самые сложные проекты. Наша организация дорожит своей репутацией надёжного партнёра, а потому мы заинтересованы в том, чтобы у нас работали инициативные, целеустремлённые, энергичные, творческие люди, которые умеют идти к поставленной цели в команде, не боятся брать на себя ответственность, всегда готовы учиться новому. Если вы хотите стать частью нашей команды, -- приходите к нам (все вакансии вы найдёте в специальном разделе). Наш коллектив – команда профессионалов, и это наша самая главная ценность. Мы ценим каждого нашего сотрудника.</p>
    <a href="@Url.Action("Vacancies","Home")" class="job-inv">
        
    </a>
    <p>
        РУП «Белэнергострой» - управляющая компания холдинга» для раскрытия способностей каждого специалиста представляет очень много возможностей. Свои навыки и профессиональный опыт наши сотрудники применяют во всех сферах деятельности предприятия не только в Республике Беларусь, но и за рубежом. В частности, наши специалисты получили уникальные опыт и знания при строительстве Белорусской АЭС в Островце. Мы будем очень рады принять в свою команду всех тех, кто вместе с нами будет и дальше реализовывать наши смелые планы.
    </p>
    <p>
        Если вдруг вы не нашли интересующую вас вакансию, вы можете отправить своё резюме на электронную почту - <a href="mailto:@Model.email">@Model.email</a> - с указанием вакансии, на которую претендуете. Мы обязательно рассмотрим вашу анкету.
    </p>
</section>

